
@{
    ViewBag.Title = "Admin panel";
}

<h2>Admin panel</h2>


<h2>@Html.ActionLink("Courses", "DisplayCourses", "ManageCourses", new { Area = "Admin" }, new { @class = "custom-links whole-page" })</h2>
<h2>@Html.ActionLink("Users", "DisplayUsers", "ManageUsers", new { Area = "Admin" }, new { @class = "custom-links whole-page" })</h2>
<h2>@Html.ActionLink("Journals", "DisplayJournals", "ManageJournals", new { Area = "Admin" }, new { @class = "custom-links whole-page" })</h2>
