
@{
    ViewBag.Title = "SignOrQuitCourse";
}

<h2>@ViewBag.RegistrationResult Redirecting...</h2>

<script>
    window.setTimeout(function(){
        window.location.href='/Courses/DisplayCourses/';
        }, 4000);
</script>