@{
    ViewBag.Title = "Home Page";
}



<div class="content content_header">
    <div>
        <img src="~/Content/logo.png" alt="logo" />
    </div>
    <div class="content-heading-text">
        We envision a world where anyone, anywhere can transform their life by accessing the world’s best learning experience.
    </div>
</div>
<hr />
<div class="content">
    <h1>Courses</h1>
</div>
<div class="content_main">
    <div class="content_container">
        Every course on educ<span>A</span>tive is taught by top instructors from the world’s best universities and educational institutions. Courses include recorded video lectures, auto-graded and peer-reviewed assignments, and community discussion forums. When you complete a course, you’ll receive a sharable electronic Course Certificate.
    </div>
    <div class="content_container">
        <img src="~/Content/courses3.png" alt="courses" />
    </div>
</div>
<hr />
<div class="content">
    <h1>Online Degrees</h1>
</div>
<div class="content_footer">
    <div class="content_container">
        <img src="~/Content/courses4.png" alt="courses" />
    </div>
    <div class="content_container">
        Real career transformation sometimes requires a university-recognized degree. educ<span>A</span>tive believes that transformation should be accessible to everyone, so we’ve worked with our university partners to offer flexible, affordable online degree programs in business, computer science, and data science.
    </div>
</div>