@{
    ViewBag.Title = "Home Page";
}



<div class="content content_header">
    <div>
        <img src="~/Content/logo.png" alt="logo" />
    </div>
    <div>
        some information about platform
    </div>
</div>

<h1>Our courses:</h1>
<div class="content content_main">
    <!--display 3 courses-->
    <div class="content_container">
        <div>
            course img
        </div>
        <div>
            course info
        </div>
    </div>
    <div class="content_container">
        <div>
            course img
        </div>
        <div>
            course info
        </div>
    </div>
    <div class="content_container">
        <div>
            course img
        </div>
        <div>
            course info
        </div>
    </div>
</div>

<h1>Our lectors:</h1>
<div class="content content_footer">
    <!--display 3 Lectors-->
    <div class="content_container">
        <div>
            lector img
        </div>
        <div>
            lector info
        </div>
    </div>
    <div class="content_container">
        <div>
            lector img
        </div>
        <div>
            lector info
        </div>
    </div>
    <div class="content_container">
        <div>
            lector img
        </div>
        <div>
            lector info
        </div>
    </div>
</div>