
@{
    ViewBag.Title = "DeleteCourse";
}

<h2>@ViewBag.Course course has been deleted!</h2>

<script>
    window.setTimeout(function(){
        window.location.href='/Admin/ManageCourses/DisplayCourses';
        }, 4000);
</script>
    